<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mdl.sinlov.andorid.device_mark">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

    </application>

</manifest>
